<p>Hi {{name}},</p>
<p>Please check your account password</p>
<div>Email: <code>{{email}}</code></div>
<div>Password: <code>{{password}}</code></div>
<p>Note: You can reset the password anytime after login</p>